.app {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
   font-weight: 600;

    margin-bottom: 40px;
  }
  
  .filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .filter-buttons button {
    background-color: #f1f9fc;
    color: black; 
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .filter-buttons button:hover{
    background-color: #007bff;
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  form input {
    flex: 1;
    padding: 10px;
    margin-right: 10px; 
    font-size: 16px;
  }
  
  form button {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 14px 20px;

    cursor: pointer;
    border-radius: 8px;
   
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  input[type="checkbox"] {
   
    cursor: pointer;
    accent-color: #007bff; 
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #cfd4dc;
    font-size: 16px;
    margin-left: 10px;
  }
  .delete-all {
    position: relative;
    left: 163px;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }